:root {
    --text-font: CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, "Helvetica Neue", helvetica, arial, "Hiragino Kaku Gothic ProN", Meiryo, "MS Gothic";
    --text-font2: CircularSpTitle, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, "Helvetica Neue", helvetica, arial, "Hiragino Kaku Gothic ProN", Meiryo, "MS Gothic";

    --pri-col: black;
    --sec-col: rgb(18, 18, 18);
    --ter-col: rgb(53, 53, 53);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--pri-col);
    height: 100vh;
}

aside {
    width: 21%;
    height: 97%;
    background-color: var(--pri-col);
}

main {
    width: 77%;
    height: 97%;
    background-color: var(--sec-col);
}

.home {
    height: 27%;
    background-color: var(--sec-col);
    color: white;
    font-size: 12px;
    font-family: var(--text-font);
    align-items: flex-start;
}

.home * {
    padding: 0 10px;
}

.library {
    height: 70%;
    background-color: var(--sec-col);
    color: rgb(102, 102, 102);
    font-size: 16px;
    font-family: var(--text-font);
    font-weight: 700;
    font-family: var(--text-font);
}

.library header * {
    margin: 15px;
}

.library>p {
    padding: 15px;
    background-color: var(--ter-col);
    width: 90%;
    color: white;
}

main header * {
    color: white;
    padding: 10px;
}

.direction * {
    border-radius: 50%;
}

.user * {
    height: 3rem;
    width: 6.5rem;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 1rem;
    font-family: var(--text-font);
}

.lists {
    min-height: 50%;
    background-image: linear-gradient(to bottom, rgb(36, 36, 36), var(--sec-col), var(--sec-col));
}

.lists h1{
    padding: 1rem 1rem;
    font-family: var(--text-font2);
    font-size: 24px;
    font-weight: 700;
    color: white;
}

.card{
    /* background-color: rgb(56, 56, 56); */
    width: 12rem;
    height: 15rem;
    margin: 1rem;
    color: white;
}

.card *{
    padding: 0 1rem;
}